In [19]:
with open("example.txt","w") as file:
    file.write("Hello world")

In [20]:
!ls

example.txt

In [21]:
with open("example.txt","a") as file:
    file.write("\n We are creating our first file")

In [22]:
with open("example.txt","r") as file:
   print(file.read())

Hello world
 We are creating our first file

In [26]:
with open("example.txt","r") as file:
    print(file.readline())
    print(file.readline())

Hello world

 We are creating our first file

In [31]:
with open("example.txt","r") as file:
    print(file.read(3))
    print(file.read(3))

Hel
lo

In [32]:
with open("example.txt","r") as file:
    print(file.read(10000))

Hello world
 We are creating our first file

In [52]:
seq=["Name:Sadhana Upadhyay","\nDesignation:System Engineer","\nAge:25","\nDOB:25th July,1994","\nRelationship Status:Complicated"]
with open("Example1.txt","w") as file:
    for line in seq:
        file.write(line)

In [53]:
with open("Example1.txt","r") as file:
    print(file.read())

Name:Sadhana Upadhyay
Designation:System Engineer
Age:25
DOB:25th July,1994
Relationship Status:Complicated

In [54]:
seq=["\nName:Vinayak Rai","\nDesignation:System Engineer","\nAge:25","\nDOB:9th July,1994","\nRelationship Status:Multiple"]
with open("Example1.txt","a") as file:
   file.writelines(seq)

In [55]:
with open("Example1.txt","r") as file:
    print(file.read())

Name:Sadhana Upadhyay
Designation:System Engineer
Age:25
DOB:25th July,1994
Relationship Status:Complicated
Name:Vinayak Rai
Designation:System Engineer
Age:25
DOB:9th July,1994
Relationship Status:Multiple

In [56]:
with open("Example1.txt","r") as file:
    print(file.readlines())

['Name:Sadhana Upadhyay\n', 'Designation:System Engineer\n', 'Age:25\n', 'DOB:25th July,1994\n', 'Relationship Status:Complicated\n', 'Name:Vinayak Rai\n', 'Designation:System Engineer\n', 'Age:25\n', 'DOB:9th July,1994\n', 'Relationship Status:Multiple']

In [58]:
seq=["Vinayak,","Rai","\n","Sadhana,","Upadhyay"]
with open("Example2.csv","a") as file:
   file.writelines(seq)

In [60]:
with open("Example2.csv","r") as file:
    print(file.read())

Vinayak,Rai
Sadhana,Upadhyay

In [61]:
import pandas as pd

In [67]:
df=pd.read_csv("Example2.csv",names=['Name','Surname'],header=None)
df

      Name   Surname
0  Vinayak       Rai
1  Sadhana  Upadhyay